* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.green-top {
    width: 100vw;
    height: 100px;
    background-color:#009688 ;
    
}
.main-container {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #090E11;
    position: relative;
    
}

#root {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    border-radius: 4px;
}
 

 
.container-chats {
    width: 100%;
    height: 100%;
    display: flex;
}

/* SIDEBAR CONTATTI*/

#user {
    color: white;
    margin-left: 10px;
}

.contact {
    width: 35%;
    height: 100%;
    background-color: #2A2F32;
}
.chat {
    width: 65%;
    height: 100%;
    
}
.info {
    width: 100%;
    height: 65px;
    background-color: #2A2F32;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-info {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info img  {
    border-radius: 100%;
    width: 40px;
    margin-left: 10px;
}
.right-icon {
    width: 30%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.right-icon i {
    color: #B1B3B5;
    font-size: 16px;
}
.notifiche {
    width: 100%;
    min-height: 65px;
    background-color: #006064;
    display: flex;
    align-items: center;
    color: #e0e0e0;
}

.search {
    width: 100%;
    height: 55px;
    background-color: #2A2F32;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bell {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#bell i {
    color:#006064; 
    font-size: 20px;
}
.notifiche h5 {
    font-size: 12px;
}
.notifiche a{
    color: #fff;
    font-size: 11px;
}
.search > input {
    width: 85%;
    border: 0;
    padding: 7px;
    border-radius: 50px;
    outline: none;
    margin-left: 15px;
    background-color: #33383B;
    color: #e0e0e0;
}
.fa-search {
    color: #B1B3B5;
}
.list {
    width: 100%;
    height: calc(100% - 185px);
}
.list li {
    list-style: none;
    border-bottom:1px solid #131C21;
    min-height: 65px;
}
.list-chat {
    display: flex;
    align-items: center;
}
.list-chat img {
    width: 50px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 10px;
}
.name-user {
    color: #e0e0e0;
    font-size: 14px;
}
.msg-user {
    color: #e0e0e0;
    font-size: 11px;
    color: gray;
}
.date-user {
    color: #e0e0e0;
    font-size: 8px;
    color: gray;
    margin-right: 10px;
}
.bg-active {
    background-color: #131C21;
}

.info-c {
    width: 70%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

/* CHAT */


.info-chat {
    width: 100%;
    height: 65px;
    background-color: #2A2F32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 5px;
}
.info-chat-left {
    display: flex;
    width: 70%;
}
.info-chat-left img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 5px;
}
.right-icon-chat {
    margin-right: 20px;
}
.right-icon-chat i {
    margin-left: 15px;
    color: #B1B3B5;
    font-size: 16px;
}
#dark {
    border: 0;
    margin-left: 10px;
    font-size: 25px;
    background-color: transparent;
    color: #e0e0e0;
}
.main-chat {
    height: calc(90vh - 130px);
    background-image: url("../img/darkBackground.jpg");
    overflow-y: auto;
}
.write-chat {
    height: 65px;
    background-color: #1E2428;
    display: flex;
    align-items: center;
    border-bottom-right-radius:5px ;
}
.fa-smile {
    color: #B1B3B5;
    margin-left: 20px;
}
.write-chat input {
    margin-left: 20px;
    padding: 10px;
    border: 0;
    width: 85%;
    border-radius: 15px;
    outline: none;
    background-color: #33383B;
    color: #e0e0e0;
}
.fa-microphone {
    margin-right: 10px;
    margin-left: 10px;
    color: #B1B3B5;
}
i {
    cursor: pointer;
}

.msg-user-chat {
    font-size: 11px;
    
}

.date-user-chat {
    font-size: 8px;
}
.main-chat {
    display: flex;
    flex-direction: column;
}

.main-chat > div > span {
    color: #e0e0e0;
    padding: 8px 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

#date {
    font-size: 8px;
    
}
.sent {
    background-color: #056162;
    float: right;
    margin-right: 30px;
    clear: both;
}
.received {
    background-color: #262D31;
    float: left;
    margin-left: 30px;
    clear: both;
}

.message i {
    font-size: 14px;
    position: relative;
    color: #B1B3B5 ;
    margin-left: 5px;
}

.date-msg {
    display: flex;
    justify-content: flex-end;
}

/* DROPDOWN MESSAGGI */

.dropdown-msg {
    display: none;
    position: absolute;
    width: 130px;
    padding: 10px 5px;
    transform: translatex(-85px);
    top: 18px;
    color: #e0e0e0;
    background-color: #2A2F32;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}
.dropdown-msg li {
    font-size: 12px;
    list-style: none;
    line-height: 25px;
    padding: 5px 8px;
}

.fa-chevron-down:hover {
    color: #e0e0e0;
}
.fa-chevron-down:hover li {
    color:#B1B3B5  ;
}
.dropdown-msg li:hover {
    color: #e0e0e0;
}
.visible {
    display: block;
}



/* MEDIA QUERIES */

@media all and (max-width: 867px) {
    .list .name-user {
        display: none;
    }
    .msg-user,
    .date-user {
        display: none;
    }
    .notifiche {
        display: none;
    }
    .fa-smile {
        color: #919191;
        margin-left: 10px;
    }
    #root {
        width: 95%;
        height: 90vh;
        margin: 0 auto;

        position: absolute;
        bottom: 4%;
        left: 0;
        right: 0;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px,
        rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
        border-radius: 4px;
    }
    .list-chat img {
        width: 50px;
        border-radius: 100%;
        margin: 0;
        margin-left: 0px;
    }
    .contact {
        width: 15%;
    }
    .chat {
        width:85% ;
    }
    .right-icon {
        display: none;
    }
    #user {
        display: none;
    }
    .search > input {
        width: 100%;
        border: 0;
        padding: 7px;
        border-radius: 50px;
        outline: none;
        margin-left: 0;
    }
    .right-icon-chat {
        margin-right: 5px;
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
    .write-chat input {
        margin-left: 10px;
        padding: 10px;
        border: 0;
        width: 85%;
        border-radius: 15px;
        outline: none;
    }
    /* .info-c {
       display: none;
    } */
    .main-chat > div > span {
        padding: 8px 8px;
        margin-left: 20px;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    }
    .search {
        margin-bottom: 20px;
    }
    .search .fa-search {
        display: none;
       
    }
    .sent {
      
        float: right;
        margin-right: 10px;
        clear: both;
    }
    .received {
        
        float: left;
        margin-left: 50px;
        clear: both;
    }
}